<ion-header class="ion-no-border">
  <ion-toolbar color="primary" class="toolbar"  slots="start" >
    <ion-title>Passanger Signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="margin: 7%;">
    <form #passangerSignupForm="ngForm" (ngSubmit)="firebaseSignUp(passangerSignupForm.value)">
      <ion-item class="inputitem">
        <ion-input type="text"  ngModel name="fullname" placeholder="Full Name*" ></ion-input>
      </ion-item>
  
      <ion-item class="inputitem">
        <ion-input type="text"  ngModel name="email" placeholder="Email*"></ion-input>
      </ion-item>
  
      <ion-item class="inputitem">
        <ion-input type="text"  ngModel name="contact" placeholder="Contact No.*"></ion-input>
      </ion-item>
  
      <ion-item class="inputitem">
        <ion-label>Role*</ion-label>
        <ion-select name="role" ngModel >
          <ion-select-option value="passanger">Passanger</ion-select-option>
        </ion-select>
      </ion-item>
  
      <ion-item class="inputitem">
        <ion-input type="password"  ngModel name="password" aria-placeholder="Password*"></ion-input>
      </ion-item>
  
      <ion-item class="inputitem">
        <ion-input type="password"  ngModel name="confirmpassword" aria-placeholder="Confirm Password*"></ion-input>
      </ion-item><br>
  
      <ion-button type="submit" expand="block"><b>Sign Up</b></ion-button>
    </form>
  </div>
  

</ion-content>
