<ion-content>
  <br><br><br>
  <ion-grid>
    <ion-row>
      <ion-col offset="3" size="5">
        <img src="../../assets/icon/carowner.png" alt="">
        <ion-item>
          <ion-button slot="start" routerLink="/ridersignup">
            Car Owner
            <ion-icon name="chevron-forward-circle" slot="end"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
    <br><br><br>
    <ion-row>
      <ion-col offset="3" size="5">
        <img src="../../assets/icon/passanger.png" alt="">
        <ion-item>
          <ion-button slot="start"  routerLink="/passangersignup">
            Passanger
            <ion-icon name="chevron-forward-circle" slot="end"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  

</ion-content>
