<ion-content>

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
  
  <ng-container *ngFor="let item of upcomingRides">
    <ion-card class="ionCardContainer">
      <div class="row" style="height: 130px;">
        <div class="col-3 imgParentContainer">
          <div class="imgContainer">
            <img src="assets/icon/carlist.png" alt="car" width="50" height="50">
          </div>
        </div>
        <div class="col-6 contentContainer">
          <div class="row contentRowContainer">
            <div class="col-1">
              <div style="width: 10px; height: 8px; background-color: #00c22a; border-radius: 50px; "></div>
              <div style="width: 10px; height: 15px; border-left: 3px solid rgb(162, 167, 162); margin-left: 3px;"></div>
              <div style="width: 10px; height: 8px; background-color: rgb(255, 204, 0); border-radius: 50px;"></div>
            </div>
            <div class="col-9" style="padding-right: 0px; margin-right: 0px;">
              <p class="source"><b>{{item.sources}} </b></p>
              <p class="destination"><b>{{item.destination}}</b></p>
            </div>
            <div class="row" style="margin-bottom: 0px; padding-bottom: 0px !important;">
              <div class="col-12">
                <p class="rideDetails"><b>{{item.date_of_ride}} {{item.time_of_ride}}</b></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-3" style="height: auto; ">
          <div class="row" style="margin-top: 30%">
            <h1 style="color: rgb(230, 195, 0);">$ {{item.ride_fare}}</h1>
            <p style="color: rgb(134, 129, 123);">{{item.passanger_required}} Seats</p>
          </div>
        </div>
        <div class="row" style="height: 30px; padding: 0px; margin: 0px;">
          <div class="col-8">
            <p class="carDetails" style=""><b>{{item.car_name}} | {{item.car_number_plate}}</b></p>
          </div>
          <div class="col-4" style="padding-right: 10%; padding: 0px;">
            <ion-button size="small" (click)="openpassangerlist(item)" class="passangerBtn">
              PASSANGER</ion-button>
          </div>
        </div>
      </div>
    </ion-card>
  </ng-container>

  <div class="row" *ngIf="upcomingRides.length <= 0">
    <img src="assets/svg/no-data.svg" alt="no-data" class="no-data-img">
    <span class="no-data-txt">No Upcoming Rides Available</span>
  </div>
  
</ion-content>
