.cancelBtn{
    width: 31%;
    // margin-left: 25%;
    // margin-right: 25%;
    margin-top: 3%;
}
.ratingInput{
    text-align: center; 
    border-bottom: 2px solid #41f831;
}

.matError{
    color: red;
    font-size: 12px;
}