<ion-content>
  <div class="ion-padding">
    <!-- <ion-card>
      <ion-card-header> Bar Chart </ion-card-header>
      <ion-card-content >
        <canvas id="myChart" width="400" height="400"></canvas>        
      </ion-card-content>
    </ion-card> -->


    <ion-card style="margin:0px">
      <ion-card-header> Rides Chart </ion-card-header>
      <ion-card-content >
        <ion-grid>
            <p>
              <ion-chip style="border: 1px solid greenyellow; background-color: white ;color: #36A2EB"><ion-label>Complete</ion-label></ion-chip>
              <ion-chip style="border: 1px solid greenyellow; background-color: white ;color: #36eb6c;"><ion-label>Upcoming</ion-label></ion-chip>
              <ion-chip style="border: 1px solid greenyellow; background-color: white ;color: #FFCE56;"><ion-label>Cancelled</ion-label></ion-chip>
            </p>
            
        </ion-grid>
        <canvas id="myDonut" width="400" height="400"></canvas>  
        
      </ion-card-content>
    </ion-card>
    
  </div>

</ion-content>

