<ion-header class="ion-no-border">
  <ion-toolbar color="primary" class="toolbar"  slots="start" >
    <ion-title> 
      Notifications
    </ion-title>
    <ion-buttons slot="end" style="margin-right: 4%; font-size: larger;" (click)="modalController.dismiss()">
      <ion-icon name="close-circle-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list>
    <ng-container *ngFor="let passanger of allPassangerOfRides">
      <ion-item>
        <ion-avatar slot="start">
          <img src="assets/riderprofilepic.png">
        </ion-avatar>
        <ion-label>
          <h2>Shrikant Ambre</h2>
          <h3>+91 8149452478</h3>
          <p>shrikant00@gmail.com</p>
          <p>Pending</p>
        </ion-label>
      </ion-item>
    </ng-container>
      
  </ion-list>

  <!-- <div class="row " *ngIf="allPassangerOfRides.length <= 0">
    <div class="col-12 align-self-center">
      <img  src="assets/img/nopassanger.jpg" alt="no-data" class="no-data-img">
    </div>
    <div class="col-12 align-self-center">
      <p class="no-data-txt">No Notification</p>
    </div>
    
  </div> -->
  
</ion-content>
