.padding0px{
    padding: 0%;
}



.mapcontainer{
    padding: 0%;
    height: 60%; 
    margin: 0px; 
    position: absolute; 
    top: 0%;
}
.formcontainer{
    // background-color: rgb(227, 255, 227);    
    height: 40%; 
    margin: 0px; 
    position: absolute; 
    bottom: 0%; 
    // border-top-left-radius: 20px; 
    // border-top-right-radius: 20px;
}
.submitbtn{
    margin: 8% 7% 0 7%;
    height: 15%;
}



