<ion-header class="ion-no-border">
  <ion-toolbar color="primary" class="toolbar"  slots="start" >
    <ion-title>UpComing Rides</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>

    <!-- TOP TABS -->
    <ion-tab-bar *ngIf="router.url == '/passangerhome/passangerhome/passangerupcomingrides' || router.url == '/passangerhome/passangerhome/passangerhistoryrides'" color="primary" slot="top">
      <ion-tab-button tab="passangerupcomingrides" >
        <ion-label style="color: white; font-size: large;"><b>Upcoming Rides</b></ion-label>
      </ion-tab-button>

      <ion-tab-button tab="passangerhistoryrides" >
        <ion-label style="color: white; font-size: large;" ><b>Booked Rides</b></ion-label>
      </ion-tab-button>
    </ion-tab-bar>

    <!-- BOTTOM TABS -->
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="passangerupcomingrides">
        <ion-icon name="car"></ion-icon>
        <ion-label ><b>My Rides</b></ion-label>
      </ion-tab-button>

      <ion-tab-button tab="passangerchat" >
        <ion-icon   name="chatbubbles"></ion-icon>
        <ion-label ><b>Chat</b></ion-label>
      </ion-tab-button>

      <!-- <ion-tab-button tab="passangerscheduleride" >
        <ion-icon name="navigate"></ion-icon>
        <ion-label><b>Book Ride</b></ion-label>
      </ion-tab-button> -->

      <ion-tab-button tab="passangermore" >
        <ion-icon name="apps"></ion-icon>
        <ion-label ><b>More</b></ion-label>
      </ion-tab-button>

      <ion-tab-button tab="passangerprofile" >
        <ion-icon name="person"></ion-icon>
        <ion-label><b>Profile</b></ion-label>
      </ion-tab-button>
      
    </ion-tab-bar>
  </ion-tabs>

</ion-content>
