<ion-content>
  <div class="container">
    <div class="row" style="height: 175px; background-color: #ecfff0; ">
      <div class="col-5 offset-3 align-self-center">
        <div class="profilepiccontainer">
          <img src="../../assets/icon/avatar2.jpg" alt="profile_pic" width="110" height="110" class="profilepic">
          <i class="fa fa-edit" (click)="editprofile()"></i>
        </div>
      </div>
    </div>
  </div><br>
  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/icon/profile.png">
      </ion-avatar>
      <ion-label>
        <p class="deails">{{profileData?.fullname}}</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/icon/contact1.png">
      </ion-avatar>
      <ion-label>
        <p class="deails">{{profileData?.contact}}</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/icon/gmail.png">
      </ion-avatar>
      <ion-label>
        <p class="deails">{{profileData?.email}}</p>
      </ion-label>
    </ion-item>

    <!-- <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/icon/language2.png">
      </ion-avatar>
      <ion-label>
        <p class="deails">English, Marathi & Hindi</p>
      </ion-label>
    </ion-item> -->

  </ion-list>
</ion-content>
