<ion-content>
  <ion-grid class="padding0px">
    <ion-row class="ion-align-items-end">
      <ion-col class="padding0px" class="mapcontainer">
        <img src="../../../assets/img/mapimg.png" alt="">
      </ion-col>
    </ion-row>
  </ion-grid>
    
    <ion-grid class="padding0px">
      <ion-row class="ion-align-items-end">
        <ion-col class="formcontainer">
          <div id="map"></div>
          <ion-item class="inputitem" >
            <ion-input type="text" name="source" [(ngModel)]="source"  class="inputfields" placeholder="Source"></ion-input>
          </ion-item>
  
          <ion-item class="inputitem" >
            <ion-input type="text" name="destination" [(ngModel)]="destination" class="inputfields" placeholder="Destination"></ion-input>
          </ion-item>
          
          <ion-button type="submit" expand="block"  class="submitbtn" (click)="scheduleride()"><b>Next</b></ion-button>

        </ion-col>
      </ion-row>
    </ion-grid>
    
</ion-content>
