<ion-header class="ion-no-border">
  <ion-toolbar color="primary" class="toolbar"  slots="start" >
    <ion-title>Car Owner Signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <mat-stepper><br><br>
        <mat-step label="Acc. Details">
          <form #accDetailsForm="ngForm" (ngSubmit)="accDetails(accDetailsForm.value)">
            <ion-item class="inputitem">
              <ion-input type="text"  ngModel name="fullname" placeholder="Full Name*"></ion-input>
            </ion-item>

            <ion-item class="inputitem">
              <ion-input type="text"  ngModel name="email" placeholder="Email*"></ion-input>
            </ion-item>

            <ion-item class="inputitem">
              <ion-input type="text"  ngModel name="contact" placeholder="Contact No.*"></ion-input>
            </ion-item>

            <ion-item class="inputitem">
              <ion-label>Role*</ion-label>
              <ion-select name="role" ngModel>
                <ion-select-option value="driver">Driver</ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item class="inputitem">
              <ion-input type="password"  ngModel name="password" placeholder="Password*"></ion-input>
            </ion-item>

            <ion-item class="inputitem">
              <ion-input type="password"  ngModel name="confirmpassword" placeholder="Confirm Password*"></ion-input>
            </ion-item><br>

            <div>
              <button class="nextbutton" mat-button matStepperNext >Next</button>
            </div>
          </form>
        </mat-step>
      
        <mat-step label="Car Details">
          <form #carDetailsForm="ngForm" (ngSubmit)="carDetails(carDetailsForm.value)">
            <ion-item class="inputitem">
              <ion-input type="number"  ngModel name="aadharno" placeholder="Aadhar No.*"></ion-input>
            </ion-item>

            <ion-item class="inputitem">
              <ion-input type="text"  ngModel name="carname" placeholder="Car Name*"></ion-input>
            </ion-item>

            <ion-item class="inputitem">
              <ion-input type="text"  ngModel name="carnoplate" placeholder="No. Plate*"></ion-input>
            </ion-item>

            <ion-item class="inputitem">
              <ion-input type="text"  ngModel name="carlicenseno" placeholder="License No.*"></ion-input>
            </ion-item>

            <ion-item class="inputitem">
              <label class="myFakeUploadButton"  for="myFileInput">Upload Aadhar Card*</label>
              <input type="file" id="myFileInput" (change)="onUploadChange($event, 'aadharFile')" accept=".png, .jpg, .jpeg" ngModel name="carfile" >
            </ion-item>

            <ion-item class="inputitem">
              <label class="myFakeUploadButton"  for="myFileInput">Upload Driving License*</label>
              <input type="file" id="myFileInput" (change)="onUploadChange($event, 'carFile')" accept=".png, .jpg, .jpeg" ngModel name="licensefile" >
            </ion-item>

            <ion-item class="inputitem">
              <label class="myFakeUploadButton"  for="myFileInput">Upload Car Document*</label>
              <input type="file" id="myFileInput" (change)="onUploadChange($event, 'licenseFile')" accept=".png, .jpg, .jpeg" ngModel name="carfile" >
            </ion-item>
            <br>

            <div>
              <button class="backbutton" mat-button matStepperPrevious>Back</button>
              <button class="nextbutton" mat-button matStepperNext>Submit</button>
            </div>
          </form>
        </mat-step>
      
      
    
      <!-- Icon overrides. -->
      <ng-template matStepperIcon="phone">
        <mat-icon>call_end</mat-icon>
      </ng-template>
      <ng-template matStepperIcon="chat">
        <mat-icon>forum</mat-icon>
      </ng-template>
    </mat-stepper>


</ion-content>
